@using CarePoint.Custom_HtmlHelpers
@model CarePoint.Models.CurrentPatientViewModel

@{
    ViewBag.Title = "Current Patient";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    <link rel="stylesheet" type="text/css" href="~/Content/step-wizard.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/current-patient.css" />
    <link rel="stylesheet" href="~/Content/citizen-medical-history.css" />

}

<div class="row">
    <div class="col-md-2">@Html.Image(Model.Photo, new { @class="cimg-user"})</div>
    <div class="col-md-8">
        <h4><b>Name:</b> @Model.Name</h4>
        <h4><b>Gender:</b> @Model.Gender</h4>
        <h4><b>Age:</b> @Model.Age</h4>
        <h4><b>Blood type:</b> @Model.BloodType</h4>
    </div>
    <div class="col-md-2">
        <span data-toggle="modal" data-target="#imodal-history-record">
            <button id="ibtn-add-prescription" class="btn btn-default" type="button" data-toggle="tooltip" data-container="body" data-placement="top" title="Add to medical history" focusable="false"><span class="fa fa-pencil-square-o"></span></button>
        </span>
        <span data-toggle="modal" data-target="#imodal-upload-attachment">
            <button id="ibtn-upload-attachment" class="btn btn-default" type="button" data-toggle="tooltip" data-container="body" data-placement="top" title="Upload attachment" focusable="false"><span class="fa fa-file-text-o"></span></button>
        </span>
        <div id="imodal-history-record" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    @using (Html.BeginForm("UploadPrescription", "MedicalHistory", FormMethod.Post, new { @role = "form",@id = "iForm-prescription" }))
                    {
                        <div class="modal-header cmodal-special-hdr">
                            <button type="button" class="close" data-dismiss="modal">&times;</button><br />
                            <div class="f1-steps">
                                <div class="f1-progress">
                                    <div class="f1-progress-line" data-now-value="12.5" data-number-of-steps="4" style="width: 12.5%;"></div>
                                </div>
                                <div class="f1-step active">
                                    <a href="#idiv-step-1" class="f1-step-icon"><i class="fa fa-thermometer-three-quarters"></i></a>
                                    <p><b>Step 1:</b><br>Symptoms</p>
                                </div>
                                <div class="f1-step">
                                    <a href="#idiv-step-2" class="f1-step-icon"><i class="fa fa-bed"></i></a>
                                    <p><b>Step 2:</b><br>Diseases</p>
                                </div>
                                <div class="f1-step">
                                    <a href="#idiv-step-3" class="f1-step-icon"><i class="fa fa-flask"></i></a>
                                    <p><b>Sftep 3:</b><br>Drugs</p>
                                </div>
                                <div class="f1-step">
                                    <a href="#idiv-step-4" class="f1-step-icon"><i class="fa fa-user-md"></i></a>
                                    <p><b>Step 4:</b><br>Remarks</p>
                                </div>
                            </div>
                        </div>

                        <div id="imodal-bdy" class="modal-body cscrollbar-container cscrollbar-modal f1">
                            <div id="idiv-step-1" class="cdiv-step cdiv-list container-fluid form-group">
                                @Html.HiddenFor(citizen => citizen.Id, new { @class = "cinp-unresettable"})
                                <div class="row cdiv-list-item">
                                    <div class="col-md-10">
                                        <input name="symptomName" class="form-control" type="text" placeholder="symptom name">
                                    </div>
                                    <div class="col-md-2">
                                        <button type="button" class="btn btn-danger cbtn-modal cbtn-remove hidden"><span class="fa fa-trash"></span></button>
                                        <button type="button" class="btn btn-default cbtn-modal cbtn-add"><span class="fa fa-plus"></span></button>
                                    </div>
                                </div>
                            </div>
                            <div id="idiv-step-2" class="cdiv-step cdiv-list container-fluid form-group">
                                <div class="row cdiv-list-item">
                                    <div class="col-md-10">
                                        <input name="diseaseName" class="form-control" type="text" placeholder="disease name">
                                    </div>
                                    <div class="col-md-2">
                                        <button type="button" class="btn btn-danger cbtn-modal cbtn-remove hidden"><span class="fa fa-trash"></span></button>
                                        <button type="button" class="btn btn-default cbtn-modal cbtn-add"><span class="fa fa-plus"></span></button>
                                    </div>
                                    <span class="cspn-radio-chck">
                                        <input id="icheckbox-genetic-1" class="cchck-danger" type="checkbox" name="genetic" value="1"/>
                                        <label for="icheckbox-genetic-1">Genetic</label>
                                    </span>
                                </div>
                            </div>
                            <div id="idiv-step-3" class="cdiv-step cdiv-list container-fluid form-group">
                                <datalist id="drugs"></datalist>
                                <div class="row cdiv-list-item">
                                    <div class="col-md-5">
                                        <input list="drugs" name="drugName" placeholder="drug name" class="form-control">
                                    </div>
                                    <div class="col-md-5">
                                        <input name="dose" class="form-control cinp-dose" type="text" maxlength="34" placeholder="dose">
                                    </div>
                                    <div class="col-md-2">
                                        <button type="button" class="btn btn-danger cbtn-modal cbtn-remove hidden"><span class="fa fa-trash"></span></button>
                                        <button type="button" class="btn btn-default cbtn-modal cbtn-add"><span class="fa fa-plus"></span></button>
                                    </div>
                                </div>
                            </div>
                            <div id="idiv-step-4" class="cdiv-step container-fluid">
                                <div id="idiv-warning" class="alert alert-danger hidden">
                                    <b> Error:</b> please make sure that all drugs you typed in step 3 are correctly spelled.
                                </div>
                                <div id="idiv-alternatives"></div>

                                <h4 id="ih4-remarks">Do you have any reamrks or recommendations ?</h4>
                                <textarea id="itxtarea-remarks" name="remarks" class="form-control" rows="5" placeholder="Write your remarks and recommendations here ..." spellcheck="true"></textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button id="ibtn-prev" type="button" class="btn btn-default" disabled>Previous</button>
                            <button id="ibtn-nxt" type="button" class="btn btn-success">Next</button>
                            <input type="submit" id="ibtn-submit" class="btn btn-success" value="Submit">
                        </div>
                    }
                </div>
            </div>
        </div>

        <div id="imodal-upload-attachment" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    @using (Html.BeginForm("UploadAttachments", "MedicalHistory", FormMethod.Post,
                                                           new { enctype = "multipart/form-data" }))
                    {
                        @Html.HiddenFor(citizen => citizen.Id)

                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button><br />
                                <h4 class="modal-title">Upload attachments</h4>
                            </div>
                            <div class="modal-body cscrollbar-container cscrollbar-modal">
                                <div class="container-fluid cdiv-list">

                                    <div class="row cdiv-list-item">
                                        <div class="col-md-4 selectContainer">
                                            <select class="cselect-attachment-type form-control" name="attachmentTypes" id="iselect-attachment-types" required>
                                                <option class="form-control" value="" selected disabled>Select type</option>
                                            </select>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <label class="input-group-btn">
                                                    <span class="btn btn-success">
                                                        Browse&hellip; <input type="file" name="files" style="display: none;" required>
                                                    </span>
                                                </label>
                                                <input type="text" class="form-control" readonly>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <button type="button" class="btn btn-danger cbtn-modal cbtn-remove hidden"><span class="fa fa-trash"></span></button>
                                            <button type="button" class="btn btn-default cbtn-modal cbtn-add"><span class="fa fa-plus"></span></button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="modal-footer">
                                <input type="submit" id="ibtn-upload" class="btn btn-success" data-toggle="modal" data-target="#imodal-saving" value="Upload" disabled>
                            </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
        
<div class="container-fluid">
    <ul class="nav nav-tabs">
        <li class="active"><a id="itab-medical-history" href="#idiv-medical-history-tab" data-toggle="tab">Medical History</a></li>
        @foreach (var element in Model.Attachments)
        {
            <li><a id="itab-@element.Key.Name.ToLower()" href="#idiv-@element.Key.Name.ToLower()-tab" data-toggle="tab">@element.Key.Name</a></li>
        }
    </ul>
    <div class="tab-content">
        <div id="idiv-medical-history-tab" class="tab-pane fade in active">
            @Html.Partial("MedicalHistory",Model.HistoryRecords)
        </div>
        @foreach (var element in Model.Attachments)
        {
            <div id="idiv-@element.Key.Name.ToLower()-tab" class="tab-pane fade">
                @Html.Partial("_AttachmentTabPartial", element.Value, new ViewDataDictionary { { "includeIsRead", false } })
            </div>
        }
    </div>
</div>

@section scripts{
    <script src="~/Scripts/step-wizard.js" type="application/javascript"></script>
    <script src="~/Scripts/current-patient.js" type="application/javascript"></script>
    <script src="~/Scripts/citizen-medical history.js"></script>
}