@using Extensions
@using CarePoint.Custom_HtmlHelpers
@using DAL
@model ICollection<HistoryRecord>
@{
    ViewBag.Title = "Medical History";
}
@section styles{
    <link rel="stylesheet" href="~/Content/citizen-medical-history.css" />
}
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-2"><img src="" id="iimg-medical-place" /></div>
            <div class="col-md-6" id="idiv-record-header"></div>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2">Symptoms</div>
            <div class="col-md-6">
                <ul id="iul-symptoms"></ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">Diseases</div>
            <div class="col-md-6">
                <ul id="iul-diseases"></ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">Medicines</div>
            <div class="col-md-6">
                <ul id="iul-medicines"></ul>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="col-md-2">Doctor remarks</div>
            <div class="col-md-6" id="remarks"></div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <table id="itbl-medical-history" class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th id="itbl-hdr-date">Date</th>
                <th id="itbl-hdr-place">Place</th>
                <th id="itbl-hdr-doc">Doctor</th>
            </tr>
        </thead>
        <tbody>
            @{int cnt = 1;}
            @foreach (var record in Model)
            {
                string symptoms = "None";
                if (record.Symptoms.Count > 0)
                {
                    if (record.Symptoms.Count > 1)
                    {
                        symptoms = record.Symptoms.FirstOrDefault().Name;
                        foreach (var symptom in record.Symptoms.Skip(1))
                        {
                            symptoms += ',' + symptom.Name;
                        }
                    }
                }

                string diseases = "None";
                if (record.Diseases.Count > 0)
                {
                    if (record.Diseases.Count > 1)
                    {
                        diseases = record.Diseases.FirstOrDefault().Name;
                        foreach (var disease in record.Diseases.Skip(1))
                        {
                            diseases += ',' + disease.Name;
                        }
                    }
                }
                string medicines = "None";
                if (record.Doses.Count > 0)
                {
                    if (record.Doses.Count > 1)
                    {
                        medicines = record.Doses.FirstOrDefault().Medicine.Name + "(" + record.Doses.FirstOrDefault().Description + ")";
                        if (record.Doses.Count > 1)
                        {
                            foreach (var dose in record.Doses.Skip(1))
                            {
                                medicines += ',' + dose.Medicine.Name + "(" + dose.Description + ")";
                            }
                        }
                    }
                }
                string photo = "";
                if (record.MedicalPlace.Photo != null)
                {
                    photo = Convert.ToBase64String(record.MedicalPlace.Photo);
                }
                <tr id="itbl-row-@cnt++" onclick="populatePanel('@photo','@record.MedicalPlace.Name','@record.Specialist.Name','@record.Date.Date.ToString("dd/MM/yyyy")','@symptoms','@diseases','@medicines','@record.Remarks');">
                    <td>@record.Date.Date.ToString()</td>
                    <td>@record.MedicalPlace.Name</td>
                    <td>@record.Specialist.Name</td>
                </tr>
            }
        </tbody>

    </table>
</div>
@section scripts{
    <script src="~/Scripts/citizen-medical history.js"></script>
}