<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="~/Images/logo-navbar.ico" />
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/dataTables.bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/navbar.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/tab.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/scrollbar.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/modal.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/patient-list.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/_LoginPartial.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/_Layout.css" />
    @RenderSection("styles", false)

</head>
<body class="cscrollbar-container cscrollbar">
    <nav class="navbar navbar-default" style="background-color: #21c2eb;">
        <div class="container-fluid">
            <div class="navbar-header">
                <img id="iimg-logo" src="~/Images/logo-navbar.ico" class="img-rounded img-responsive">
            </div>
            @Html.Partial("_LoginPartial")
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row" style="margin-top: 7em;">
            <div class="col-md-2">
                <div class="row">
                    <div class="container-fluid">
                        <button type="button" id="ibtn-sos-pop" class="btn btn-default" data-toggle="popover" data-placement="right">
                            <span class="fa fa-exclamation-triangle fa-lg" style="color: #d64343"></span>&nbsp;Send an SOS
                        </button>
                    </div>
                    @Html.Partial("_SearchPartial")
                </div>
            </div>
            <div class="col-md-8">
                @RenderBody()
            </div>
            <div id="idiv-adds" class="col-md-2" style="height: 200px;"><center><label>Advertising area</label></center></div>
        </div>
    </div>

    @Html.Partial("_SearchResultPartial")
    @Html.Partial("_PatientsList")


    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/dataTables.bootstrap.min.js"></script>
    <script src="~/Scripts/modal.js" type="application/javascript"></script>
    <script src="~/Scripts/sos.js" type="application/javascript"></script>
    <script src="~/Scripts/select2.min.js"></script>
    <script src="~/Scripts/searchResult.js"></script>
    <script src="~/Scripts/patient-list.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.3.min.js"></script>
    <script src="~/SignalR/hubs"></script>
    <script>
        var relativesHub = $.connection.relativesHub;
        $.connection.hub.start();
        $.connection.hub.disconnected(function () {
            setTimeout(function () {
                $.connection.hub.start().done(function () {
                    console.log("Connection Started !")
                });
            }, 5000);
        });

        relativesHub.client.notify = function (increment) {
            var notificationMark = $("#ilink-relatives .cmark-notif");
            var notificationCount = parseInt(notificationMark.text());
            notificationCount += increment;
            notificationMark.text(notificationCount);
            if (notificationCount > 0) {
                notificationMark.removeAttr("style");
            }
            else {
                notificationMark.css("display", "none");
            }
        }
    </script>
    <script src="~/Scripts/relatives.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>