<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="~/Images/logo-navbar.ico" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/navbar.css" />

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", false)


</head>
<body>
    <nav class="navbar navbar-default" style="background-color: #21c2eb;">
        <div class="container-fluid">
            <div class="navbar-header">
                <img id="iimg-logo" src="~/Images/logo-navbar.ico" class="img-rounded img-responsive">
            </div>
            
            @Html.Partial("_LoginPartial")

        </div>
    </nav>
    <div class="container-fluid">
        <div class="row" style="margin-top: 7em;">
            <div class="col-md-2">
                <button id="ibtn-sos-pop" class="btn btn-default" data-toggle="popover" data-placement="right" style="color: #d9534f; font-weight: bold;"><span class="fa fa-exclamation-triangle fa-lg" style="color: #D9534F"></span>&nbsp;Send an SOS</button>
                <br>This is for search
            </div>
            <div class="col-md-8">
                @RenderBody()
            </div>
            <div class="col-md-2" style="background-color:#b6ff00">This is for Adds</div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Scripts/sos.js" type="application/javascript"></script>
    @RenderSection("scripts", required: false)

</body>
</html>
