@using Extensions
@using DAL
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="~/Images/logo-navbar.ico" />
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/dataTables.bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/navbar.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/tab.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/scrollbar.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/modal.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/patient-list.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/_LoginPartial.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/_Layout.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap-notify.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/drug-search-result.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/place-switch.css"/>

    @RenderSection("styles", false)

</head>
<body class="cscrollbar-container cscrollbar">
    <nav class="navbar navbar-default" style="background-color: #21c2eb;">
        <div class="container-fluid">
            <div class="navbar-header">
                <img id="iimg-logo" src="~/Images/logo-navbar.ico" class="img-rounded img-responsive">
            </div>
            @Html.Partial("_LoginPartial")
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row" style="margin-top: 7em;">
            <div class="col-md-2">
                <div class="row">
                    <div class="container-fluid">
                        <button type="button" id="ibtn-sos-pop" class="btn btn-default" data-toggle="popover" data-placement="right">
                            <span class="fa fa-exclamation-triangle fa-lg" style="color: #d64343"></span>&nbsp;Send an SOS
                        </button>
                    </div>
                    @Html.Partial("_SearchPartial")
                </div>
            </div>
            <div class="col-md-8">
                @RenderBody()
            </div>
            <div id="idiv-adds" class="col-md-2" style="height: 200px;"><center><label>Advertising area</label></center></div>
        </div>
    </div>
    <div id="imodal-saving" class="modal fade" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-body cdiv-modal-sm-bdy">
                    <span class="cspn-proxy cspn-saving"><span class="cspn-loader"></span><br />Saving...</span>
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("_SearchResultPartial")

    @if (User.Identity.GetCitizen() is Specialist)
    {
        @Html.Partial("_PatientsList")
        @Html.Partial("_NewPatient")
        @Html.Partial("_SwitchWorkPlace")
    }


    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/dataTables.bootstrap.min.js"></script>
    <script src="~/Scripts/modal.js" type="application/javascript"></script>
    <script src="~/Scripts/select2.min.js"></script>
    <script src="~/Scripts/searchResult.js"></script>
    <script src="~/Scripts/patient-list.js"></script>
    <script src="~/Scripts/sos.js" type="application/javascript"></script>
    <script src="~/Scripts/tooltip.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.3.min.js"></script>
    <script src="~/SignalR/hubs"></script>
    <script src="~/Scripts/bootstrap-notify.min.js"></script>
    <script src="~/Scripts/notification-summary.js"></script>
    <script src="~/Scripts/instascan.min.js"></script>
    <script src="~/Scripts/QRScanner.js"></script>
    <script>
        var notificationsHub = $.connection.notificationsHub;
        $.connection.hub.start();
        $.connection.hub.disconnected(function () {
            setTimeout(function () {
                $.connection.hub.start().done(function () {
                    console.log("Connection Started !")
                });
            }, 5000);
        });

        notificationsHub.client.notifyRelative = function (increment, relativeName, relation) {
            var notificationMark = $("#ilink-relatives .cmark-notif");
            var notificationCount = parseInt(notificationMark.text());
            notificationCount += increment;
            notificationMark.text(notificationCount);
            if (notificationCount > 0) {
                notificationMark.removeAttr("style");
            }
            else {
                notificationMark.css("display", "none");
            }
            if (increment > 0) {
                showRelativeNotifSummary(relativeName, relation, "/Citizen/Relatives");
            }
        }

        notificationsHub.client.notifyPrognosis = function (diseaseName) {
            var notificationMark = $("#ilink-prognosis .cmark-notif");
            var notificationCount = parseInt(notificationMark.text());
            notificationCount += 1;
            notificationMark.text(notificationCount);
            notificationMark.removeAttr("style");
            showPrognosisNotifSummary(diseaseName, "/Citizen/Prognosis");
        }

        notificationsHub.client.notifyAttachment = function (doctorName, fileName) {
            var notificationMark = $("#ilink-attachments .cmark-notif");
            var notificationCount = parseInt(notificationMark.text());
            notificationCount += 1;
            notificationMark.text(notificationCount);
            notificationMark.removeAttr("style");
            showAttachmentNotifSummary(doctorName, fileName, "#");
        }
        notificationsHub.client.notifySOS = function (description, lat, lng, phoneNumber) {
            showSOSNotifSummary(lat + " " + lng, description, phoneNumber);//get address from lat and lng
        }
    </script>
    <script src="~/Scripts/relatives.js"></script>
    <script src="~/Scripts/Site.js"></script>
    <script src="~/Scripts/place-switch.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>