﻿@using Microsoft.AspNet.Identity
@using CarePoint.Custom_HtmlHelpers
@using Extensions
@using DAL

@if (Request.IsAuthenticated)
{
    var user = User.Identity.GetCitizen();
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            @if (user is Specialist)
            {
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" style="background-color: #21c2eb;">
                    @{ 
                        int membershipRequestsCount = (user as Specialist).AdministratedMedicalPlaces
                               .Sum(p => p.CareUnits.Sum(c => c.CareUnitMembershipRequests.Count(r => !(r.IsConfirmed??false))))
                               + (user as Specialist).AdministratedMedicalPlaces.Sum(p => p.Services.Sum(s => s.ServiceMembershipRequests.Count(r => !r.IsConfirmed)));
                     }
                    <span class="fa fa-briefcase fa-2x cspn-nav">
                        @if (membershipRequestsCount > 0)
                        {
                            <mark class="cmark-notif">@membershipRequestsCount</mark>
                        }
                        else
                        {
                            <mark class="cmark-notif" style="display:none">0</mark>
                        }
                    </span>
                    <span class="fa fa-chevron-down fa-fw cspn-nav"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a data-toggle="modal" href="#imodal-new-patient" id="ilink-new-patient">New patient</a></li>
                    <li><a href="#" id="ilink-curr-patient">Current patient</a></li>
                    @{ string id = User.Identity.GetUserId<long>().ToString();}
                    @Html.HiddenFor(usr => id, new { @Id = "iinput-usr", @Value = id })
                    <li><a data-toggle="modal" href="#imodal-patient-list" id="ilink-patient-list">My patients</a></li>
                    <li class="divider"></li>
                    <li><a href="/MedicalPlace/MedicalPlace" id="ilink-new-place">New workplace</a></li>
                    <li><a href="#" id="ilink-place-settings">My workplace</a></li>
                    <li><a href="#" id="ilink-change-place">Switch workplace</a></li>
                    <li class="divider"></li>
                    <li><a href="#" id="ilink-curr-patient">Membership requests 
                        @if (membershipRequestsCount > 0)
                        {
                            <span class="badge">@membershipRequestsCount</span>
                        }
                        else
                        {
                            <span class="badge" style="display:none">0</span>
                        }
                    </a>
                    </li>
                </ul>
            </li>
            }
            <li><a id="ilink-medical-history" href="/Citizen/MedicalHistory">
                    <span class="fa fa-history fa-2x cspn-nav"></span>
                </a></li>
            <li><a id="ilink-attachments" href="/Citizen/Attachments">
                    @{ int attachmentsNotificationsCount = user.Attachments.Count(a => !a.IsRead??false); }
                    <span class="fa fa-paperclip fa-2x cspn-nav">
                        @if (attachmentsNotificationsCount > 0)
                        {
                            <mark class="cmark-notif">@attachmentsNotificationsCount</mark>
                        }
                        else
                        {
                            <mark class="cmark-notif" style="display:none">0</mark>
                        }
                    </span>
                </a></li>
            <li><a id="ilink-relatives" href="/Citizen/Relatives">
                @{ int relativesNotificationsCount = user.Relatives.Count(r => r.RelativeConfirmed == false || r.RelativeConfirmed == null) + user.AddedRelatives.Count(r => r.CitizenConfirmed == false || r.CitizenConfirmed == null); }
                    <span class="fa fa-users fa-2x cspn-nav">
                        @if (relativesNotificationsCount == 0)
                        {
                            <mark class="cmark-notif" style="display:none">0</mark>
                        }
                        else
                        {
                            <mark class="cmark-notif">@relativesNotificationsCount</mark>
                        }
                    </span>
                </a>
            </li>
            <li>
                <a id="ilink-prognosis" href="/Citizen/Prognosis">
                    @{ int prognosisNotificationsCount = user.PotentialDiseases.Count(p => !p.IsRead); }
                    <span class="fa fa-heart-o fa-2x cspn-nav">
                    @if (prognosisNotificationsCount == 0)
                    {
                        <mark class="cmark-notif" style="display:none">0</mark>
                    }
                    else
                    {
                        <mark class="cmark-notif">@prognosisNotificationsCount</mark>
                    }
                    </span>
                </a>
            </li>
            <li>
                <a id="ilink-notif" href="#">
                    <span class="fa fa-bell fa-2x cspn-nav"><mark class="cmark-notif">8</mark></span>
                </a>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" style="background-color: #21c2eb;">
                    @Html.Image(User.Identity.GetCitizen().Photo, new { @Id = "iimg-navbar-profile", @class = "cimg-user" })
                    <span class="fa fa-chevron-down fa-fw cspn-nav"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a id="ilink-usrname">Signed in as:<br /><b>@user.Name</b></a></li>
                    <li class="divider"></li>
                    <li><a href="/Citizen/DownloadMyCard">Get my card</a></li>
                    <li><a href="/Manage/Index" id="ilink-usr-profile">Account settings</a></li>
                    <li class="divider"></li>
                    <li><a id="ilink-logout" href="javascript:document.getElementById('logoutForm').submit()"><span class="fa fa-sign-out fa-fw"></span>Logout</a></li>
                </ul>
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
    </ul>
}
