@using Extensions
@using DAL
@model ICollection<Attachment>
@{
    ViewBag.Title = "Attachements";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <ul class="nav nav-tabs">
        <li class="active"><a id="itab-analysis" href="#idiv-analysis-tab" data-toggle="tab">Lab investigations</a></li>
        <li><a id="itab-radiology" href="#idiv-radiology-tab" data-toggle="tab">Radiology</a></li>
        <li><a id="itab-prescriptions" href="#idiv-prescriptions-tab" data-toggle="tab">Prescriptions</a></li>
        <li><a id="itab-other" href="#idiv-other-tab" data-toggle="tab">Others</a></li>
    </ul>
    <div class="tab-content">
        <div id="idiv-analysis-tab" class="tab-pane fade in active">
            <ul class="list-group">
                @{var analysisAttachments = Model.Where(attachment => attachment.AttachmentType.Name.Equals("Analysis")); }
                @{var radiolodyAttachments = Model.Where(attachment => attachment.AttachmentType.Name.Equals("Radiology")); }
                @{var prescriptions = Model.Where(attachment => attachment.AttachmentType.Name.Equals("Prescription")); }
                @{var otherAttachments = Model.Except(analysisAttachments).Except(radiolodyAttachments).Except(prescriptions); }
                @foreach (var attachment in analysisAttachments)
            {
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-5">
                                @if (attachment.FilePath.EndsWith(".jpg") || attachment.FilePath.EndsWith(".png") || attachment.FilePath.EndsWith(".bmp") || attachment.FilePath.EndsWith(".ico"))
                                {<span class="fa fa-file-image-o fa-fw"></span>}
                                else if (attachment.FilePath.EndsWith(".pdf"))
                                {<span class="fa fa-file-pdf-o fa-fw"></span>}
                else if (attachment.FilePath.EndsWith(".docx") || attachment.FilePath.EndsWith(".docb") || attachment.FilePath.EndsWith(".docm") || attachment.FilePath.EndsWith(".dotx") || attachment.FilePath.EndsWith(".dotm"))
                {<span class="fa fa-file-word-o fa-fw"></span>}
                                else
                                {<span class="fa fa-file-alt-o fa-fw"></span>}
                                @Html.ActionLink(attachment.FileName, "ShowAttachmentFile", "MedicalHistory", new { path = attachment.FilePath, fileName = attachment.FilePath }, null)
                            </div>
                            <div class="col-md-3">@attachment.Specialist.Name</div>
                            <div class="col-md-3">@attachment.Date.Date.ToString("dd/MM/yyyy")</div>
                            <div class="col-md-1"><a id="ilink@{@attachment.ID}-download" href="#"><span class="fa fa-download fa-fw"></span></a></div>
                        </div>
                    </li>
    }
            </ul>
        </div>
        <div id="idiv-radiology-tab" class="tab-pane fade">
            <ul class="list-group">
                @foreach (var attachment in radiolodyAttachments)
            {
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-5">
                                @if (attachment.FilePath.EndsWith(".jpg") || attachment.FilePath.EndsWith(".png") || attachment.FilePath.EndsWith(".bmp") || attachment.FilePath.EndsWith(".ico"))
                                {<span class="fa fa-file-image-o fa-fw"></span>}
                                else if (attachment.FilePath.EndsWith(".pdf"))
                                {<span class="fa fa-file-pdf-o fa-fw"></span>}
                else if (attachment.FilePath.EndsWith(".docx") || attachment.FilePath.EndsWith(".docb") || attachment.FilePath.EndsWith(".docm") || attachment.FilePath.EndsWith(".dotx") || attachment.FilePath.EndsWith(".dotm"))
                {<span class="fa fa-file-word-o fa-fw"></span>}
                                else
                                {<span class="fa fa-file-alt-o fa-fw"></span>}
                                @Html.ActionLink(attachment.FileName, "ShowAttachmentFile", "MedicalHistory", new { path = attachment.FilePath, fileName = attachment.FilePath }, null)
                            </div>
                            <div class="col-md-3">@attachment.Specialist.Name</div>
                            <div class="col-md-3">@attachment.Date.Date.ToString("dd/MM/yyyy")</div>
                            <div class="col-md-1"><a id="ilink@{@attachment.ID}-download" href="#"><span class="fa fa-download fa-fw"></span></a></div>
                        </div>
                    </li>
    }
            </ul>
        </div>
        <div id="idiv-prescriptions-tab" class="tab-pane fade">
            <ul class="list-group">
                @foreach (var attachment in prescriptions)
                {
                    <li class="list-group-item">
                        <div class="row">
                            
                            <div class="col-md-5"><span class="fa fa-file-image-o fa-fw"></span>@attachment.FileName</div>
                            <div class="col-md-3">@attachment.Specialist.Name</div>
                            <div class="col-md-3">@attachment.Date.Date.ToString("dd/MM/yyyy")</div>
                            <div class="col-md-1"><a id="ilink@{@attachment.ID}-download" href="#"><span class="fa fa-download fa-fw"></span></a></div>
                            
                        </div>
                    </li>
    }
            </ul>
        </div>
        <div id="idiv-other-tab" class="tab-pane fade">
            <ul class="list-group">
                @foreach (var attachment in otherAttachments)
            {
                    <li class="list-group-item">

                        <div class="row">
                            <div class="col-md-5">
                                @if (attachment.FilePath.EndsWith(".jpg") || attachment.FilePath.EndsWith(".png") || attachment.FilePath.EndsWith(".bmp") || attachment.FilePath.EndsWith(".ico"))
                                {<span class="fa fa-file-image-o fa-fw"></span>}
                                else if (attachment.FilePath.EndsWith(".pdf"))
                                {<span class="fa fa-file-pdf-o fa-fw"></span>}
                else if (attachment.FilePath.EndsWith(".docx") || attachment.FilePath.EndsWith(".docb") || attachment.FilePath.EndsWith(".docm") || attachment.FilePath.EndsWith(".dotx") || attachment.FilePath.EndsWith(".dotm"))
                {<span class="fa fa-file-word-o fa-fw"></span>}
                                else
                                {<span class="fa fa-file-alt-o fa-fw"></span>}
                                @Html.ActionLink(attachment.FileName, "ShowAttachmentFile", "MedicalHistory", new { path = attachment.FilePath, fileName = attachment.FilePath }, null)
                            </div>
                            <div class="col-md-3">@attachment.Specialist.Name</div>
                            <div class="col-md-3">@attachment.Date.Date.ToString("dd/MM/yyyy")</div>
                            <div class="col-md-1"><a id="ilink@{@attachment.ID}-download" href="#"><span class="fa fa-download fa-fw"></span></a></div>
                        </div>
                    </li>
    }
            </ul>
        </div>
    </div>
</div>
