@model CarePoint.Models.RegisterViewModel
@{
    ViewBag.Title = "Sign Up";
    Layout = "";
}
<html>
<head>
    <link rel="icon" href="~/Images/logo-navbar.ico" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/guest-sign up.css" />
    <title>@ViewBag.Title</title>
</head>
<body>

    <div class="container-fluid">
        <div class="row" style="background-color: #21c2eb; padding-bottom: 1em; margin-bottom: 3em;">
            <img id="iimg-logo" class="img-responsive" src="~/Images/logo-sign up.png">
            <center><h1 style="color: #ffffff; font-weight: bold;">Create Your Carepoint Account</h1></center>
        </div>
        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" , enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken();

            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
                        @Html.TextBoxFor(model => model.FirstName, new { @Id = "itext-first-name", @Class = "form-control", @Placeholder = "First Name" })
                        @Html.ValidationMessageFor(model => model.FirstName, "",new { @Class = "text-danger" })
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
                        @Html.TextBoxFor(model => model.MiddleName, new { @Id = "itext-middle-name", @Class = "form-control", @Placeholder = "Middle Name" })
                        @Html.ValidationMessageFor(model => model.MiddleName, "", new { @Class = "text-danger" })
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
                        @Html.TextBoxFor(model => model.LastName, new { @Id = "itext-last-name", @Class = "form-control", @Placeholder = "Last Name" })
                        @Html.ValidationMessageFor(model => model.LastName, "", new { @Class = "text-danger" })
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-id-card fa-fw"></i></span>
                        @Html.TextBoxFor(model => model.NationalIDNumber, new { @Id = "itext-national-id", @Class = "form-control", @Placeholder = "National Id Number" })
                        @Html.ValidationMessageFor(model => model.NationalIDNumber, "", new { @Class = "text-danger" })
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-mobile fa-fw"></i></span>
                        @Html.TextBoxFor(model => model.Phone, new { @Id = "itext-phone", @Class = "form-control", @Placeholder = "Phone Number" })
                        @Html.ValidationMessageFor(model => model.Phone, "", new { @Class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-envelope fa-fw"></i></span>
                        @Html.TextBoxFor(model => model.Email, new { @Id = "itext-mail", @Class = "form-control", @Placeholder = "Email" })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @Class = "text-danger" })
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock fa-fw"></i></span>
                        @Html.PasswordFor(model => model.Password, new { @Id = "itext-passwd", @Class = "form-control", @Placeholder = "Password" })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @Class = "text-danger" })
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock fa-fw"></i></span>
                        @Html.PasswordFor(model => model.ConfirmPassword, new { @Id = "itext-passwd-confirm", @Class = "form-control", @Placeholder = "Confirm Password" })
                        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @Class = "text-danger" })
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-tint fa-fw"></i></span>
                        @Html.DropDownListFor(model => model.BloodTypeID, Model.BloodTypes, "Blood Type", new { @Id = "iselect-blood-type", @Class = "form-control" })
                        @Html.ValidationMessageFor(model => model.BloodTypeID, "", new { @Class = "text-danger" })
                    </div>
                    <h4>Birthdate:</h4>
                    <div class='form-group'>
                        <div class="col-xs-4 selectContainer">
                            @Html.DropDownListFor(model => model.Day, Model.Days, "Day", new { @Id = "iselect-day", @Class = "form-control" })
                        </div>
                        <div class="col-xs-4 selectContainer">
                            @Html.DropDownListFor(model => model.Month, Model.Months, "Month", new { @Id = "iselect-month", @Class = "form-control" })
                        </div>
                        <div class="col-xs-4 selectContainer">
                            @Html.DropDownListFor(model => model.Year, Model.Years, "Year", new { @Id = "iselect-year", @Class = "form-control" })
                        </div>
                        @Html.ValidationMessageFor(model => model.Day, "", new { @Class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-4">
                    <h4>Gender:</h4>
                    <span class="cspn-radio-btn">
                        @Html.RadioButtonFor(model => model.IsMale,false, new { @Id = "iradio-gender-male" })
                        <label>Male</label>
                    </span>
                    <span class="cspn-radio-btn">
                        @Html.RadioButtonFor(model => model.IsMale,false, new { @Id = "iradio-gender-female" })
                        <label>Female</label>
                    </span>
                    <div class="file-loading">
                        <b>@Html.LabelFor(model => model.NationalIDPhoto)</b>
                        @Html.TextBoxFor(model => model.NationalIDPhoto,new { @Type = "file" , @Id = "ifile-national-id" })
                        @Html.ValidationMessageFor(model => model.NationalIDPhoto, "", new { @Class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-4">
                    @Html.DropDownListFor(model => model.SpecialityID, Model.Specialities, "Speciality", new { @Id = "iselect-speciality" , @Class = "form-control" })
                    @Html.ValidationMessageFor(model => model.SpecialityID, "", new { @Class = "text-danger" })
                   <div class="file-loading">
                        <b>@Html.LabelFor(model => model.License)</b>
                        @Html.TextBoxFor(model => model.License, new { @Type = "file", @Id = "ifile-license" })
                        @Html.ValidationMessageFor(model => model.License, "", new { @Class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>
            <center><input id="ibtn-sign-up" type="submit" value="Create Account" class="btn btn-lg btn-primary" style="font-weight: bold; margin:20px"></center>
        }
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.validate-vsdoc.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/datevalidator.js"></script>

</body>
</html>
