@model CarePoint.Models.MedicalPlaceViewModels
@{
    ViewBag.Title = "Add MedicalPlace";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using DAL;
<div class="row">
    @using (Html.BeginForm("AddMedicalPlace", "MedicalPlace", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {

        <div class="row form-group">
            <div class="col-md-6">
                @Html.TextBoxFor(model => model.medicalPlace.Name, new { @Id = "iinp-workplace-name", @Class = "form-control", @Placeholder = "Workplace name" })
                @Html.ValidationMessageFor(model => model.medicalPlace.Name, "", new { @Class = "cspan-error" })
                <div class="selectContainer">
                    @Html.DropDownListFor(model => model.medicalPlace.TypeID, Model.medicalPlaceTypes, "Organization type")
                    @Html.ValidationMessageFor(model => model.medicalPlace.TypeID, "", new { @Class = "cspan-error" })
                </div>
                <div class="file-loading">
                    <b><label>Logo</label></b>
                    @Html.TextBoxFor(model => model.medicalPlace.Photo, new { @Type = "file", @Class = "cfile-photo" })
                    @Html.ValidationMessageFor(model => model.medicalPlace.Photo, "", new { @Class = "cspan-error" })
                </div>
            </div>
            <div class="col-md-6">
                @Html.TextBoxFor(model => model.medicalPlace.Phone, new { @Id = "iinp-workplace-phone", @Class = "form-control", @Placeholder = "Phone" })
                @Html.ValidationMessageFor(model => model.medicalPlace.Phone, "", new { @Class = "cspan-error" })

                @Html.TextBoxFor(model => model.medicalPlace.Address, new { @Id = "iinp-workplace-address", @Class = "form-control", @Placeholder = "Address" })
                @Html.ValidationMessageFor(model => model.medicalPlace.Address, "", new { @Class = "cspan-error" })
                <div class="file-loading">
                    <b><label>Organizaton license</label></b>
                    @Html.TextBoxFor(model => model.medicalPlace.Permission, new { @Type = "file", @Class = "cfile-permission" })
                    @Html.ValidationMessageFor(model => model.medicalPlace.Permission, "", new { @Class = "cspan-error" })
                </div>
            </div>
        </div>
        <b>
            <label>Organizaton location</label>
        </b>
        <div id="idiv-map" style="width:100%;height:500px;"></div>
        @Html.TextAreaFor(model => model.medicalPlace.Description, new { @Id = "itextarea-service-desc", @Class = "form-control", @Placeholder = "Description" })
        @Html.HiddenFor(model => model.latitude, new { @Class = "cinput-latitude", @Id = "iinput-latitude" })
        @Html.HiddenFor(model => model.longitude, new { @Class = "cinput-longitude", @Id = "iinput-longitude" })

        <input type="submit" value="Save" />
    }
</div>
@section scripts{
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.validate-vsdoc.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/datevalidator.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDknmD-bIczC5pP5WPolW9zsx8xA8Ty6Cw"></script>
    <script type="text/javascript">
        var latitude, longitude;
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (p) {
                var LatLng = new google.maps.LatLng(p.coords.latitude, p.coords.longitude);
                latitude = p.coords.latitude;
                longitude = p.coords.longitude;
                $("#iinput-latitude").val(latitude);
                $("#iinput-longitude").val(longitude);
                var mapOptions = {
                    center: LatLng,
                    zoom: 13,
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                };
                var map = new google.maps.Map(document.getElementById("idiv-map"), mapOptions);
                var marker = new google.maps.Marker({
                    position: LatLng,
                    map: map,
                });
                google.maps.event.addListener(map, 'click', function (event) {
                    uluru = { lat: event.latLng.lat(), lng: event.latLng.lng() }
                    marker.setMap(null);
                    marker = new google.maps.Marker({
                        position: uluru,
                        map: map
                    });
                    latitude = event.latLng.lat();
                    longitude = event.latLng.lng();
                    var infowindow = new google.maps.InfoWindow({
                        content: "<div style ='height:60px;width:200px;font-weight:bold'>Medical Place Location"  + "</div>"
                    });
                    infowindow.open(map, marker);

                    $("#iinput-latitude").val(latitude);
                    $("#iinput-longitude").val(longitude);
                });
            });
        } else {
            alert('Geo Location feature is not supported in this browser.');
            latitude = 30.0594838;
            longitude = 31.2934839;
            $("#iinput-latitude").val(latitude);
            $("#iinput-longitude").val(longitude);
        }
    </script>
}