@using CarePoint.Models
@using CarePoint.Custom_HtmlHelpers
@model MedicalPlaceProfileViewModel
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "ProfilePage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    <link href="~/Content/timepicker.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/Content/place-about service.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/place-edit schedule.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/place-add edit service.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/place-profile.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/treeview.css" />
}
<div class="container-fluid">
    <div class="row" style="margin-top: 7em;">
        <div class="col-md-12">
            <!-- Start Display MedicalPlace Info-->
            <center>
                @Html.Image(Model.medicalPlace.Photo, new { @Class = "cimg-medical-place" })
                <br />
                <h1 class="ch1-section">@Model.medicalPlace.Name</h1><br />
                <span class="fa fa-map-marker fa-lg cspn-awsome"></span>&nbsp;&nbsp;@Model.medicalPlace.Address&nbsp;&nbsp;&nbsp;&nbsp;
                <span class="fa fa-phone fa-lg cspn-awsome"></span>&nbsp;&nbsp;@Model.medicalPlace.Phone
            </center>
            <div class="tree-node">
                <h2 class="tree-node-header"><span class="fa fa-minus tree-node-icon"></span> Services</h2>
                <div class="tree-node-body">
                    <!-- Start Display Services-->
                    @{ int count = 0;}
                    @foreach (var service in Model.medicalPlace.Services)
                    {
                        <input type="hidden" id="ihidden-service-id-@count" value="@service.ID" />
                        count++;
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="ch4-service-category">@service.ServiceCategory.Name</h4>
                                @if (Model.isCurrentPlace && service.ServiceMembershipRequests.Any(s => s.IsConfirmed == true && s.SpecialistID == Convert.ToInt64(User.Identity.GetUserId())))
                                {
                                    <button class="btn btn-default cbtn-panel-control" type="button" data-toggle="modal" data-target="#imodal-schedule-@service.ID"><span class="fa fa-pencil fa-fw"></span> Edit</button>
                                }
                            </div>
                            <div class="panel-body">
                                <div id="row-@service.ID" class="row">
                                    <div class="col-sm-6">
                                        <label>Name:</label>@service.Name<br />
                                        <label>Cost:</label> @service.Cost L.E.<br /><br />
                                        <label>About service:</label><br />@service.Description
                                    </div>
                                    <select id="iselect-options-@service.ID" onchange="changeDay(@service.ID)">
                                        <option value="Saturday" selected>Saturday</option>
                                        <option value="Sunday">Sunday</option>
                                        <option value="Monday">Monday</option>
                                        <option value="Tuesday">Tuesday</option>
                                        <option value="Wednesday">Wednesday</option>
                                        <option value="Thursday">Thursday</option>
                                        <option value="Friday">Friday</option>
                                    </select>
                                    <div class="col-sm-6 cdiv-schedule-visualized">
                                        <div id="@service.ID-AM" class="clock am">
                                            <div class="clock-face">
                                                <div id="piechart-@service.ID-AM" class="piechart"></div>
                                                <div class="position position1"><span>12</span></div>
                                                <div class="position position2"><span>1</span></div>
                                                <div class="position position3"><span>2</span></div>
                                                <div class="position position4"><span>3</span></div>
                                                <div class="position position5"><span>4</span></div>
                                                <div class="position position6"><span>5</span></div>
                                                <div class="position position7"><span>6</span></div>
                                                <div class="position position8"><span>7</span></div>
                                                <div class="position position9"><span>8</span></div>
                                                <div class="position position10"><span>9</span></div>
                                                <div class="position position11"><span>10</span></div>
                                                <div class="position position12"><span>11</span></div>
                                            </div>
                                        </div>
                                        <div id="@service.ID-PM" class="clock pm hidden">
                                            <div class="clock-face">
                                                <div id="piechart-@service.ID-PM" class="piechart"></div>
                                                <div class="position position1"><span>12</span></div>
                                                <div class="position position2"><span>1</span></div>
                                                <div class="position position3"><span>2</span></div>
                                                <div class="position position4"><span>3</span></div>
                                                <div class="position position5"><span>4</span></div>
                                                <div class="position position6"><span>5</span></div>
                                                <div class="position position7"><span>6</span></div>
                                                <div class="position position8"><span>7</span></div>
                                                <div class="position position9"><span>8</span></div>
                                                <div class="position position10"><span>9</span></div>
                                                <div class="position position11"><span>10</span></div>
                                                <div class="position position12"><span>11</span></div>
                                            </div>
                                        </div>
                                        <div class="btn-group btn-toggle">
                                            <button class="btn btn-primary active">AM</button>
                                            <button class="btn btn-default">PM</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <input type="hidden" value="@count" id="ihidden-count" />
                    <!-- End Display Services-->
                </div>
            </div><hr />
            <div class="tree-node">
                <h2 class="tree-node-header"><span class="fa fa-minus tree-node-icon"></span> Care Units</h2>
                <div class="tree-node-body">
                    <!-- Start Display CareUnits-->
                    @foreach (var careUnit in Model.medicalPlace.CareUnits)
                    {
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="ch4-service-category">@careUnit.CareUnitType.Name</h4>
                                @if (Model.isCurrentPlace && careUnit.CareUnitMembershipRequests.Any(request => request.IsConfirmed == true && request.SpecialistID == Convert.ToInt64(User.Identity.GetUserId())))
                                {
                                    <button class="btn btn-default cbtn-panel-control" type="button" data-toggle="modal" data-target="#imodal-careunit-@careUnit.ID"><span class="fa fa-pencil fa-fw"></span> Edit</button>
                                }
                            </div>
                            <div class="panel-body">
                                <label>Name:</label>@careUnit.Name<br />
                                <label>Cost:</label>@careUnit.Cost L.E.<br />
                                <label>Available rooms:</label>@careUnit.AvailableRoomCount <span class="cspn-last-updated">(last updated on @careUnit.LastUpdate)</span><br /><br />
                                <label>About care unit:</label><br />@careUnit.Description
                            </div>
                        </div>
                    }
                    <!-- End Display CareUnits-->
                </div>
            </div>
            @if (Model.isCurrentPlace && Model.medicalPlace.CareUnits.Any(Membership => Membership.CareUnitMembershipRequests.Any(request => request.SpecialistID == Convert.ToInt64(User.Identity.GetUserId()) && request.IsConfirmed == true)))
            {
                <button id="ibtn-click-reminder" class="btn btn-lg btn-primary" onclick="showICUReminder('@Model.medicalPlace.Name', '/CareUnit/Index?id=@Model.MedicalPlaceID')">
                    Click for reminder!
                </button>
            }

            <!-- <button class="btn btn-lg btn-primary" onclick="showICUReminder('@Model.medicalPlace.Name', '/CareUnit/Index?id=@Model.MedicalPlaceID')">
                 Click for reminder!
             </button>-->
            <!-- End Display MedicalPlace Info-->
        </div>
    </div>
</div>
<div class="container-fluid">
    <!-- Begin Add Service -->
    <button class="btn btn-default" data-toggle="modal" data-target="#imodal-service-new">Add Service</button>
    @using (Html.BeginForm("AddService", "MedicalPlace", FormMethod.Post))
    {
        <div id="imodal-service-new" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">New Service</h4>
                    </div>
                    <div class="modal-body cscrollbar-container cscrollbar-modal">
                        <div class="row form-group">
                            <div class="col-md-6">
                                @Html.HiddenFor(model => model.NewService.ProviderID, new { @Value = Model.MedicalPlaceID })
                                @Html.HiddenFor(model => model.MedicalPlaceID)
                                @Html.TextBoxFor(model => model.NewService.Name, new { @Id = "iinp-service-name-new", @Class = "form-control", @Placeholder = "Service Name" })
                            </div>
                            <div class="col-md-6">
                                @Html.DropDownListFor(model => model.NewService.CategoryID, new SelectList(Model.ServiceCategories, "ID", "Name"), new { @Id = "iinp-service-type-new", @Class = "form-control cdropdown-search", @Placeholder = "CareUnit Type" })
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-6">
                                @Html.TextBoxFor(model => model.NewService.Cost, new { @Id = "iinp-service-cost-new", @Class = "form-control", @Placeholder = "Cost", @Type = "number", @Min = "0", @Step = "0.01" })
                                @Html.ValidationMessageFor(model => model.NewService.Cost, "", new { @Class = "text-danger" })
                            </div>
                        </div>
                        @Html.TextAreaFor(model => model.NewService.Description, new { @Id = "itextarea-service-desc-new", @Class = "form-control", @Placeholder = "Add some description ...", @Rows = "18" })
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-success" value="Done" />
                    </div>
                </div>
            </div>
        </div>
    }
    <!-- End Add Service -->
    <!-- Begin Update Services -->
    @for (int i = 0; i < Model.Services.Count; ++i)
    {
        var service = Model.Services.ElementAt(i);
        if (!Model.IsAdmin)
        { // Enable it After Testing
            using (Html.BeginForm("UpdateSchedule", "MedicalPlace", FormMethod.Post))
            {
                <div id="imodal-schedule-@service.ID" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header cmodal-special-hdr">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <ul class="nav nav-tabs" role="tablist">
                                    <li role="presentation" class="active">
                                        <a href="#itab-services-@service.ID" role="tab" data-toggle="tab">About service</a>
                                    </li>
                                    <li role="presentation">
                                        <a href="#itab-schedules-@service.ID" role="tab" data-toggle="tab">Schedule</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="modal-body cscrollbar-container cscrollbar-modal">
                                <div id="idiv-tab-content" class="tab-content">
                                    <div id="itab-services-@service.ID" role="tabpanel" class="tab-pane active">
                                        <div class="row form-group">
                                            <div class="col-md-4">
                                                @Html.HiddenFor(model => model.Services.ElementAt(i).ID, new { @Name = "Services[0].ID", @Value = service.ID })
                                                @Html.HiddenFor(model => model.Services.ElementAt(i).ProviderID, new { @Name = "Services[0].ProviderID", @Value = service.ProviderID })
                                                @Html.TextBoxFor(model => model.Services.ElementAt(i).Name, new { @Id = "iinp-service-name-" + service.ID, @Class = "form-control", @Placeholder = "Service name", @Name = "Services[0].Name", @Value = service.Name })
                                                @Html.ValidationMessageFor(model => model.Services.ElementAt(i).Name, "", new { @Data_valmsg_for = "Services[0].Name", @Class = "text-danger" })
                                            </div>
                                            <div class="col-md-4">
                                                @Html.DropDownListFor(model => model.Services.ElementAt(i).CategoryID, new SelectList(Model.ServiceCategories, "ID", "Name", service.CategoryID), new { @Id = "iinp-service-type-" + service.ID, @Class = "form-control cdropdown-search", @Placeholder = "Service type", @Name = "Services[0].CategoryID", @Value = service.CategoryID })
                                            </div>
                                            <div class="col-md-4">
                                                @Html.TextBoxFor(model => model.Services.ElementAt(i).Cost, new { @Id = "iinp-service-cost-" + service.ID, @Class = "form-control", @Placeholder = "Cost", @Name = "Services[0].Cost", @Value = service.Cost, @Type = "number", @Min = "0", @Step = "0.01" })
                                                @Html.ValidationMessageFor(model => model.Services.ElementAt(i).Cost, "", new { @Data_valmsg_for = "Services[0].Cost", @Class = "text-danger" })
                                            </div>
                                        </div>
                                        @Html.TextAreaFor(model => model.Services.ElementAt(i).Description, new { @Id = "iinp-service-desc-" + service.ID, @Class = "form-control", @Placeholder = "Add some description ...", @Name = "Services[0].Description", @Value = service.CategoryID, @Rows = "18" })
                                    </div>
                                    <div id="itab-schedules-@service.ID" role="tabpanel" class="tab-pane">

                                        @for (int j = 0; j < service.WorkSlots.Count; ++j)
                                        {
                                            <div class="container-fluid cdiv-workslot cdiv-workslot-@service.ID" data-count="@j" id="idiv-workslot-@service.ID-@j">
                                                @Html.CheckBoxFor(model => model.Services.ElementAt(i).WorkSlots.ElementAt(j).IsRemoved, new { @Id = "iinp-slot-removed-" + service.ID + "-" + j, @Class = "form-control chkbox-remove-workslot", @Style = "display:none", @Name = "Services[0].WorkSlots[" + j + "].IsRemoved" })
                                                <div class="row cdiv-timing-row">
                                                    <div class="col-md-1 cdiv-vcenter">
                                                        <b>Start:</b>
                                                    </div>
                                                    <div class="col-md-3 cdiv-vcenter">
                                                        <div class="form-group cdiv-frm-group">
                                                            <div class='input-group date cdiv-time'>
                                                                @Html.TextBoxFor(model => model.Services.ElementAt(i).WorkSlots.ElementAt(j).StartTime, new { @Id = "iinp-slot-start-time-" + service.ID + "-" + j, @Class = "form-control cinp-time", @Name = "Services[0].WorkSlots[" + j + "].StartTime", @Value = service.WorkSlots.ElementAt(j).StartTime.ToString(@"hh\:mm"), @Readonly = "readonly" })
                                                                <span class="input-group-addon cspn-time">
                                                                    <i class="fa fa-clock-o"></i>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-1 cdiv-vcenter">
                                                        <b>End:</b>
                                                    </div>
                                                    <div class="col-md-3 cdiv-vcenter">
                                                        <div class="form-group cdiv-frm-group">
                                                            <div class='input-group date cdiv-time'>
                                                                @Html.TextBoxFor(model => model.Services.ElementAt(i).WorkSlots.ElementAt(j).EndTime, new { @Id = "iinp-slot-end-time-" + service.ID + "-" + j, @Class = "form-control cinp-time", @Name = "Services[0].WorkSlots[" + j + "].EndTime", @Value = service.WorkSlots.ElementAt(j).EndTime.ToString(@"hh\:mm"), @Readonly = "readonly" })
                                                                <span class="input-group-addon cspn-time">
                                                                    <i class="fa fa-clock-o"></i>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <button type="button" class="btn btn-danger cbtn-remove-workslot" id="ibtn-remove-workslot-@service.ID-@j" onclick="removeWorkSlot(@j,@service.ID,'@Model.Services.ElementAt(i).WorkSlots.ElementAt(j).StartTime','@Model.Services.ElementAt(i).WorkSlots.ElementAt(j).EndTime');">
                                                        <i class="fa fa-trash"></i>&nbsp;&nbsp;Remove workslot
                                                    </button>
                                                </div>
                                                <div class="btn-group" data-toggle="buttons">
                                                    <label class="btn btn-default @(Model.Services.ElementAt(i).WorkSlots.ElementAt(j).IsSaturday ? "active" : "")">
                                                        @Html.CheckBoxFor(model => model.Services.ElementAt(i).WorkSlots.ElementAt(j).IsSaturday, new { @Name = "Services[0].WorkSlots[" + j + "].IsSaturday" })
                                                        Saturday
                                                    </label>
                                                    <label class="btn btn-default @(Model.Services.ElementAt(i).WorkSlots.ElementAt(j).IsSunday ? "active" : "")">
                                                        @Html.CheckBoxFor(model => model.Services.ElementAt(i).WorkSlots.ElementAt(j).IsSunday, new { @Name = "Services[0].WorkSlots[" + j + "].IsSunday" })
                                                        Sunday
                                                    </label>
                                                    <label class="btn btn-default @(Model.Services.ElementAt(i).WorkSlots.ElementAt(j).IsMonday ? "active" : "")">
                                                        @Html.CheckBoxFor(model => model.Services.ElementAt(i).WorkSlots.ElementAt(j).IsMonday, new { @Name = "Services[0].WorkSlots[" + j + "].IsMonday" })
                                                        Monday
                                                    </label>
                                                    <label class="btn btn-default @(Model.Services.ElementAt(i).WorkSlots.ElementAt(j).IsTuesday ? "active" : "")">
                                                        @Html.CheckBoxFor(model => model.Services.ElementAt(i).WorkSlots.ElementAt(j).IsTuesday, new { @Name = "Services[0].WorkSlots[" + j + "].IsTuesday" })
                                                        Tuesday
                                                    </label>
                                                    <label class="btn btn-default @(Model.Services.ElementAt(i).WorkSlots.ElementAt(j).IsWednesday ? "active" : "")">
                                                        @Html.CheckBoxFor(model => model.Services.ElementAt(i).WorkSlots.ElementAt(j).IsWednesday, new { @Name = "Services[0].WorkSlots[" + j + "].IsWednesday" })
                                                        Wednesday
                                                    </label>
                                                    <label class="btn btn-default @(Model.Services.ElementAt(i).WorkSlots.ElementAt(j).IsThursday ? "active" : "")">
                                                        @Html.CheckBoxFor(model => model.Services.ElementAt(i).WorkSlots.ElementAt(j).IsThursday, new { @Name = "Services[0].WorkSlots[" + j + "].IsThursday" })
                                                        Thursday
                                                    </label>
                                                    <label class="btn btn-default @(Model.Services.ElementAt(i).WorkSlots.ElementAt(j).IsFriday ? "active" : "")">
                                                        @Html.CheckBoxFor(model => model.Services.ElementAt(i).WorkSlots.ElementAt(j).IsFriday, new { @Name = "Services[0].WorkSlots[" + j + "].IsFriday" })
                                                        Friday
                                                    </label>
                                                </div>
                                            </div>
                                        }

                                        <div class="container-fluid cdiv-workslot" id="idiv-new-workslot-@service.ID" style="display:none">
                                            <div class="row cdiv-timing-row">
                                                <div class="col-md-1 cdiv-vcenter">
                                                    <b>Start:</b>
                                                </div>
                                                <div class="col-md-3 cdiv-vcenter">
                                                    <div class="form-group cdiv-frm-group">
                                                        <div class='input-group date cdiv-time'>
                                                            @Html.TextBoxFor(model => model.Services.ElementAt(i).NewWorkSlot.StartTime, new { @Id = "iinp-new-slot-start-time-" + service.ID, @Class = "form-control cinp-time", @Name = "Services[0].NewWorkSlot.StartTime", @Value = DateTime.Now.TimeOfDay.ToString(@"hh\:mm") })
                                                            <span class="input-group-addon cspn-time">
                                                                <i class="fa fa-clock-o"></i>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-1 cdiv-vcenter">
                                                    <b>End:</b>
                                                </div>
                                                <div class="col-md-3 cdiv-vcenter">
                                                    <div class="form-group cdiv-frm-group">
                                                        <div class='input-group date cdiv-time'>
                                                            @Html.TextBoxFor(model => model.Services.ElementAt(i).NewWorkSlot.EndTime, new { @Id = "iinp-new-slot-end-time-" + service.ID, @Class = "form-control cinp-time", @Name = "Services[0].NewWorkSlot.EndTime", @Value = DateTime.Now.TimeOfDay.ToString(@"hh\:mm") })
                                                            <span class="input-group-addon cspn-time">
                                                                <i class="fa fa-clock-o"></i>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <button type="button" class="btn btn-success" onclick="addWorkslot('@service.ID');">
                                                    <i class="fa fa-save"></i>&nbsp;&nbsp;Save workslot
                                                </button>
                                            </div>
                                            <div class="btn-group" data-toggle="buttons">
                                                <label class="btn btn-default">
                                                    @Html.CheckBoxFor(model => model.Services.ElementAt(i).NewWorkSlot.IsSaturday, new { @Id = "chkbox-new-workslot-issaturday" + service.ID, @Name = "Services[0].NewWorkSlot.IsSaturday" })
                                                    Saturday
                                                </label>
                                                <label class="btn btn-default">
                                                    @Html.CheckBoxFor(model => model.Services.ElementAt(i).NewWorkSlot.IsSunday, new { @Id = "chkbox-new-workslot-issunday" + service.ID, @Name = "Services[0].NewWorkSlot.IsSunday" })
                                                    Sunday
                                                </label>
                                                <label class="btn btn-default">
                                                    @Html.CheckBoxFor(model => model.Services.ElementAt(i).NewWorkSlot.IsMonday, new { @Id = "chkbox-new-workslot-ismonday" + service.ID, @Name = "Services[0].NewWorkSlot.IsMonday" })
                                                    Monday
                                                </label>
                                                <label class="btn btn-default">
                                                    @Html.CheckBoxFor(model => model.Services.ElementAt(i).NewWorkSlot.IsTuesday, new { @Id = "chkbox-new-workslot-istuesday" + service.ID, @Name = "Services[0].NewWorkSlot.IsTuesday" })
                                                    Tuesday
                                                </label>
                                                <label class="btn btn-default">
                                                    @Html.CheckBoxFor(model => model.Services.ElementAt(i).NewWorkSlot.IsWednesday, new { @Id = "chkbox-new-workslot-iswednesday" + service.ID, @Name = "Services[0].NewWorkSlot.IsWednesday" })
                                                    Wednesday
                                                </label>
                                                <label class="btn btn-default">
                                                    @Html.CheckBoxFor(model => model.Services.ElementAt(i).NewWorkSlot.IsThursday, new { @Id = "chkbox-new-workslot-isthursday" + service.ID, @Name = "Services[0].NewWorkSlot.IsThursday" })
                                                    Thursday
                                                </label>
                                                <label class="btn btn-default">
                                                    @Html.CheckBoxFor(model => model.Services.ElementAt(i).NewWorkSlot.IsFriday, new { @Id = "chkbox-new-workslot-isfriday" + service.ID, @Name = "Services[0].NewWorkSlot.IsFriday" })
                                                    Friday
                                                </label>
                                            </div>
                                        </div>

                                        <button type="button" id="ibtn-plus" class="btn btn-default" onclick="showNewWorkslotPanel('#idiv-new-workslot-@service.ID');">New Workslot</button>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <input type="submit" class="btn btn-success" value="Done" />
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    }
    <!-- End Update Services -->
    <!-- Begin Add CareUnit -->
    <button class="btn btn-default" data-toggle="modal" data-target="#imodal-careunit-new">Add CareUnit</button>
    @using (Html.BeginForm("AddCareUnit", "MedicalPlace", FormMethod.Post))
    {
        <div id="imodal-careunit-new" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">New Care Unit</h4>
                    </div>
                    <div class="modal-body cscrollbar-container cscrollbar-modal">
                        <div class="row form-group">
                            <div class="col-md-6">
                                @Html.HiddenFor(model => model.MedicalPlaceID)
                                @Html.HiddenFor(model => model.NewCareUnit.ProviderID, new { @Value = Model.MedicalPlaceID })
                                @Html.TextBoxFor(model => model.NewCareUnit.Name, new { @Id = "iinp-careunit-name-new", @Class = "form-control", @Placeholder = "CareUnit Name" })
                            </div>
                            <div class="col-md-6">
                                @Html.DropDownListFor(model => model.NewCareUnit.CareUnitTypeID, new SelectList(Model.CareUnitTypes, "ID", "Name"), new { @Id = "iinp-careunit-type-new", @Class = "form-control cdropdown-search", @Placeholder = "CareUnit Type" })
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-6">
                                @Html.TextBoxFor(model => model.NewCareUnit.Cost, new { @Id = "iinp-careunit-cost-new", @Class = "form-control", @Placeholder = "Cost", @Type = "number", @Min = "0", @Step = "0.01" })
                                @Html.ValidationMessageFor(model => model.NewCareUnit.Cost, "", new { @Class = "text-danger" })

                            </div>
                            <div class="col-md-6">
                                @Html.TextBoxFor(model => model.NewCareUnit.AvailableRoomCount, new { @Id = "iinp-careunit-count-new", @Class = "form-control", @Placeholder = "Rooms Available Now", @Type = "number", @Min = "0", @Step = "1" })
                                @Html.ValidationMessageFor(model => model.NewCareUnit.AvailableRoomCount, "", new { @Class = "text-danger" })
                            </div>
                        </div>
                        @Html.TextAreaFor(model => model.NewCareUnit.Description, new { @Id = "itextarea-careunit-desc-new", @Class = "form-control", @Placeholder = "Add some description ...", @Rows = "18" })
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-success" value="Done" />
                    </div>
                </div>
            </div>
        </div>
    }
    <!-- End Add CareUnit -->
    <!-- Begin CareUnits -->
    @for (int i = 0; i < Model.CareUnits.Count; ++i)
    {
        var careunit = Model.CareUnits.ElementAt(i);
        using (Html.BeginForm("UpdateCareUnit", "MedicalPlace", FormMethod.Post))
        {
            <div id="imodal-careunit-@careunit.ID" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">About Care Unit</h4>
                        </div>
                        <div class="modal-body cscrollbar-container cscrollbar-modal">
                            <div class="row form-group">
                                <div class="col-md-6">
                                    @Html.HiddenFor(model => model.MedicalPlaceID)
                                    @Html.HiddenFor(model => model.CareUnits.ElementAt(i).ID, new { @Name = "CareUnits[0].ID", @Value = careunit.ID })
                                    @Html.HiddenFor(model => model.CareUnits.ElementAt(i).ProviderID, new { @Name = "CareUnits[0].ProviderID", @Value = careunit.ProviderID })
                                    @Html.TextBoxFor(model => model.CareUnits.ElementAt(i).Name, new { @Name = "CareUnits[0].Name", @Id = "iinp-careunit-name-" + @careunit.ID, @Class = "form-control", @Placeholder = "CareUnit Name", @Value = careunit.Name })
                                </div>
                                <div class="col-md-6">
                                    @Html.DropDownListFor(model => model.CareUnits.ElementAt(i).CareUnitTypeID, new SelectList(Model.CareUnitTypes, "ID", "Name", careunit.CareUnitTypeID), new { @Id = "iinp-careunit-type-" + careunit.ID, @Class = "form-control cdropdown-search", @Placeholder = "CareUnit Type", @Name = "CareUnits[0].CareUnitTypeID", @Value = careunit.CareUnitTypeID })
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-6">
                                    @Html.TextBoxFor(model => model.CareUnits.ElementAt(i).Cost, new { @Id = "iinp-careunit-cost-" + careunit.ID, @Class = "form-control", @Placeholder = "Cost", @Name = "CareUnits[0].Cost", @Value = careunit.Cost, @Type = "number", @Min = "0", @Step = "0.01" })
                                    @Html.ValidationMessageFor(model => model.CareUnits.ElementAt(i).Cost, "", new { @Data_valmsg_for = "CareUnits[0].Cost", @Class = "text-danger" })

                                </div>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(model => model.CareUnits.ElementAt(i).AvailableRoomCount, new { @Id = "iinp-careunit-count-" + careunit.ID, @Class = "form-control", @Placeholder = "Rooms Available Now", @Name = "CareUnits[0].AvailableRoomCount", @Value = careunit.AvailableRoomCount, @Type = "number", @Min = "0", @Step = "1" })
                                    @Html.ValidationMessageFor(model => model.CareUnits.ElementAt(i).AvailableRoomCount, "", new { @Data_valmsg_for = "CareUnits[0].AvailableRoomCount", @Class = "text-danger" })
                                </div>
                            </div>
                            @Html.TextAreaFor(model => model.CareUnits.ElementAt(i).Description, new { @Name = "CareUnits[0].Description", @Id = "itextarea-careunit-desc-" + @careunit.ID, @Class = "form-control", @Placeholder = "Add some description ...", @Value = careunit.Description, @Rows = "18" })
                        </div>
                        <div class="modal-footer">
                            <input type="submit" class="btn btn-success" value="Done" />
                        </div>
                    </div>
                </div>
            </div>
        }
    }
    <!-- End CareUnits -->
</div>






@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/select2.min.js"></script>
    <script src="~/Scripts/bootstrap-notify.min.js"></script>
    <script src="~/Scripts/timepicker.js"></script>
    <script src="~/Scripts/modal.js" type="application/javascript"></script>
    <script src="~/Scripts/place-edit schedule.js" type="application/javascript"></script>
    <script src="~/Scripts/place-reminder.js"></script>
    <script src="~/Scripts/place-profile.js"></script>
    <script src="~/Scripts/treeview.js"></script>


    <script>
        function showNewWorkslotPanel(selector) {
            $(selector).show();
        }
        function addWorkslot(serviceId) {
            var startTime = $("#iinp-new-slot-start-time-" + serviceId).val();
            var endTime = $("#iinp-new-slot-end-time-" + serviceId).val();
            var isSaturday = $("#chkbox-new-workslot-issaturday" + serviceId).is(":checked");
            var isSunday = $("#chkbox-new-workslot-issunday" + serviceId).is(":checked");
            var isMonday = $("#chkbox-new-workslot-ismonday" + serviceId).is(":checked");
            var isTuesday = $("#chkbox-new-workslot-istuesday" + serviceId).is(":checked");
            var isWednesday = $("#chkbox-new-workslot-iswednesday" + serviceId).is(":checked");
            var isThursday = $("#chkbox-new-workslot-isthursday" + serviceId).is(":checked");
            var isFriday = $("#chkbox-new-workslot-isfriday" + serviceId).is(":checked");
            var model = {
                StartTime: startTime,
                EndTime: endTime,
                IsSaturday: isSaturday,
                IsSunday: isSunday,
                IsMonday: isMonday,
                IsTuesday: isTuesday,
                IsWednesday: isWednesday,
                IsThursday: isThursday,
                IsFriday: isFriday,
                ServiceID: serviceId
            }
            $.post("/MedicalPlace/AddWorkslot", model, function () {
                var newSlot = $(".cdiv-workslot-" + serviceId + ":last").clone(true);
                var count = newSlot.data("count");

                newSlot.data("count", count + 1);
                newSlot.attr("id", "idiv-workslot-" + serviceId + "-" + (count + 1));

                newSlot.find(".chkbox-remove-workslot").attr("Id", "iinp-slot-removed-" + serviceId + "-" + (count + 1));
                newSlot.find(".chkbox-remove-workslot").prop("checked", false);

                newSlot.find(".cbtn-remove-workslot").attr("onclick", "removeWorkSlot(" + (count + 1) + "," + serviceId + ",'" + startTime + "','" + endTime + "')");
                newSlot.find(".cbtn-remove-workslot").attr("id", "ibtn-remove-workslot-" + serviceId + "-" + (count + 1));

                newSlot.find("#iinp-slot-start-time-" + serviceId + "-" + count).attr("name", "Services[0].WorkSlots[" + (count + 1) + "].StartTime");

                newSlot.find("#iinp-slot-start-time-" + serviceId + "-" + count).attr("value", startTime);

                newSlot.find("#iinp-slot-end-time-" + serviceId + "-" + count).attr("name", "Services[0].WorkSlots[" + (count + 1) + "].EndTime");
                newSlot.find("#iinp-slot-end-time-" + serviceId + "-" + count).attr("value", endTime);

                newSlot.find("input[name='Services[0].WorkSlots[" + count + "].IsSaturday']").attr("name", "Services[0].WorkSlots[" + (count + 1) + "].IsSaturday");
                newSlot.find("input[name='Services[0].WorkSlots[" + count + "].IsSaturday']").prop("checked", isSaturday);
                if (isSaturday && !newSlot.find("input[name='Services[0].WorkSlots[" + (count + 1) + "].IsSaturday']").parent().hasClass("active"))
                    newSlot.find("input[name='Services[0].WorkSlots[" + (count + 1) + "].IsSaturday']").parent().addClass("active");
                if (!isSaturday && newSlot.find("input[name='Services[0].WorkSlots[" + (count + 1) + "].IsSaturday']").parent().hasClass("active"))
                    newSlot.find("input[name='Services[0].WorkSlots[" + (count + 1) + "].IsSaturday']").parent().removeClass("active");

                newSlot.find("input[name='Services[0].WorkSlots[" + count + "].IsSunday']").attr("name", "Services[0].WorkSlots[" + (count + 1) + "].IsSunday");
                newSlot.find("input[name='Services[0].WorkSlots[" + count + "].IsSunday']").prop("checked", isSunday);
                if (isSunday && !newSlot.find("input[name='Services[0].WorkSlots[" + (count + 1) + "].IsSunday']").parent().hasClass("active"))
                    newSlot.find("input[name='Services[0].WorkSlots[" + (count + 1) + "].IsSunday']").parent().addClass("active");
                if (!isSunday && newSlot.find("input[name='Services[0].WorkSlots[" + (count + 1) + "].IsSunday']").parent().hasClass("active"))
                    newSlot.find("input[name='Services[0].WorkSlots[" + (count + 1) + "].IsSunday']").parent().removeClass("active");

                newSlot.find("input[name='Services[0].WorkSlots[" + count + "].IsMonday']").attr("name", "Services[0].WorkSlots[" + (count + 1) + "].IsMonday");
                newSlot.find("input[name='Services[0].WorkSlots[" + count + "].IsMonday']").prop("checked", isMonday);
                if (isMonday && !newSlot.find("input[name='Services[0].WorkSlots[" + (count + 1) + "].IsMonday']").parent().hasClass("active"))
                    newSlot.find("input[name='Services[0].WorkSlots[" + (count + 1) + "].IsMonday']").parent().addClass("active");
                if (!isMonday && newSlot.find("input[name='Services[0].WorkSlots[" + (count + 1) + "].IsMonday']").parent().hasClass("active"))
                    newSlot.find("input[name='Services[0].WorkSlots[" + (count + 1) + "].IsMonday']").parent().removeClass("active");

                newSlot.find("input[name='Services[0].WorkSlots[" + count + "].IsTuesday']").attr("name", "Services[0].WorkSlots[" + (count + 1) + "].IsTuesday");
                newSlot.find("input[name='Services[0].WorkSlots[" + count + "].IsTuesday']").prop("checked", isTuesday);
                if (isTuesday && !newSlot.find("input[name='Services[0].WorkSlots[" + (count + 1) + "].IsTuesday']").parent().hasClass("active"))
                    newSlot.find("input[name='Services[0].WorkSlots[" + (count + 1) + "].IsTuesday']").parent().addClass("active");
                if (!isTuesday && newSlot.find("input[name='Services[0].WorkSlots[" + (count + 1) + "].IsTuesday']").parent().hasClass("active"))
                    newSlot.find("input[name='Services[0].WorkSlots[" + (count + 1) + "].IsTuesday']").parent().removeClass("active");

                newSlot.find("input[name='Services[0].WorkSlots[" + count + "].IsWednesday']").attr("name", "Services[0].WorkSlots[" + (count + 1) + "].IsWednesday");
                newSlot.find("input[name='Services[0].WorkSlots[" + count + "].IsWednesday']").prop("checked", isWednesday);
                if (isWednesday && !newSlot.find("input[name='Services[0].WorkSlots[" + (count + 1) + "].IsWednesday']").parent().hasClass("active"))
                    newSlot.find("input[name='Services[0].WorkSlots[" + (count + 1) + "].IsWednesday']").parent().addClass("active");
                if (!isWednesday && newSlot.find("input[name='Services[0].WorkSlots[" + (count + 1) + "].IsWednesday']").parent().hasClass("active"))
                    newSlot.find("input[name='Services[0].WorkSlots[" + (count + 1) + "].IsWednesday']").parent().removeClass("active");

                newSlot.find("input[name='Services[0].WorkSlots[" + count + "].IsThursday']").attr("name", "Services[0].WorkSlots[" + (count + 1) + "].IsThursday");
                newSlot.find("input[name='Services[0].WorkSlots[" + count + "].IsThursday']").prop("checked", isThursday);
                if (isThursday && !newSlot.find("input[name='Services[0].WorkSlots[" + (count + 1) + "].IsThursday']").parent().hasClass("active"))
                    newSlot.find("input[name='Services[0].WorkSlots[" + (count + 1) + "].IsThursday']").parent().addClass("active");
                if (!isThursday && newSlot.find("input[name='Services[0].WorkSlots[" + (count + 1) + "].IsThursday']").parent().hasClass("active"))
                    newSlot.find("input[name='Services[0].WorkSlots[" + (count + 1) + "].IsThursday']").parent().removeClass("active");

                newSlot.find("input[name='Services[0].WorkSlots[" + count + "].IsFriday']").attr("name", "Services[0].WorkSlots[" + (count + 1) + "].IsFriday");
                newSlot.find("input[name='Services[0].WorkSlots[" + count + "].IsFriday']").prop("checked", isFriday);
                if (isFriday && !newSlot.find("input[name='Services[0].WorkSlots[" + (count + 1) + "].IsFriday']").parent().hasClass("active"))
                    newSlot.find("input[name='Services[0].WorkSlots[" + (count + 1) + "].IsFriday']").parent().addClass("active");
                if (!isFriday && newSlot.find("input[name='Services[0].WorkSlots[" + (count + 1) + "].IsFriday']").parent().hasClass("active"))
                    newSlot.find("input[name='Services[0].WorkSlots[" + (count + 1) + "].IsFriday']").parent().removeClass("active");

                $("#idiv-new-workslot-" + serviceId).before(newSlot);
                $("#idiv-new-workslot-" + serviceId).hide();
            });
        }

        function removeWorkSlot(count, serviceId, startTime, endTime) {
            $.post("/MedicalPlace/RemoveWorkslot", { ServiceID: serviceId, StartTime: startTime, EndTime: endTime }, function () {
                $("#idiv-workslot-" + serviceId + "-" + count).hide();
                $("#iinp-slot-removed-" + serviceId + "-" + count).prop("checked", true);
            });
        }
        $(".cdropdown-search").select2();
    </script>
}